/*the planet on the map*/
#AliNada {
	color: #969696;
	left: 325px;
	top: 75px;
}
/*planet details*/

#capitol {
	color: #cccccc;
	left: 105px;	
	top: 130px;
}
#cemetery {
	color: #009603;
	left: 304px;
	top: 15px;
}
#aliNadaMechanic {
	color: #f2a32a;
	left: 50px;
	top: 440px;
}
#capitolGuard {
	color: #697cd6;
	left: 240px;
	top: 50px;
}
#capitolDesk1 {
	color: #1d85b8;
	left: 25px;
	top: 200px;
}
#capitolDesk2 {
	color: #ce42df;
	left: 340px;
	top: 200px;
}
#capitolWeatherman {
	color: #41b81d;
	left: 275px;
	top: 25px;
}
#brothersGrave {
	color: #a3bfc1;
	left: 115px;
	top: 100px;
}
#graveGrass {
	color: green;
	left: 115px;
	top: 280px;
}
#aliNadaMechanicMenu {
	left: 50px;
	top: 100px;
	border: 1px solid white;
	height: 200px;
	width: 500px;
	padding-left: 15px;
}
#aliNadaLifecycleShutoff {
	top: 50px;
}
#aliNadaGeneralRobot {
	top: 80px;
}
#aliNadaLifecycleAdd {
	top: 110px;
}
#aliNadaMenuTitle {
	font-size: 20px;
	left: 150px;
	padding: 10px;
}
.aliNadaMechanic {
	color: white;
}