/*the planet on the map*/
#AliNada {
	color: #969696;
	margin-left: 325px;
	margin-top: 75px;
}
/*hide the planet*/
#aliNadaMap {
	display: none;
}
/*planet details*/

#capitol {
	color: #cccccc;
	margin-left: 50px;
	margin-top: 100px;
}
#stainedGlass {
	color: #68c6ff;
	margin-left: 113px;
	margin-top: 145px;
}
#cemetery {
	color: #009603;
	margin-left: 300px;
	margin-top: 25px;
}
#tombstones {
	color: #838383;
	margin-left: 336px;
	margin-top: 55px;
}
#aliNadaMechanic {
	color: #f2a32a;
	margin-left: 350px;
	margin-top: 300px;
}
#aliNadaGas {
	color: #8fc78a;
	margin-left: 45px;
	margin-top: 400px;
}
#capitolDesk1 {
	color: #1d85b8;
	margin-left: 25px;
	margin-top: 200px;
}
#capitolDesk2 {
	color: #ce42df;
	margin-left: 340px;
	margin-top: 200px;
}
#capitolWeatherman {
	color: #41b81d;
	margin-left: 275px;
	margin-top: 25px;
}
#brothersGrave {
	color: #a3bfc1;
	margin-left: 115px;
	margin-top: 100px;
}
#graveGrass {
	color: green;
	margin-left: 115px;
	margin-top: 280px;
}
#aliNadaMechanicMenu {
	margin-left: 50px;
	margin-top: 100px;
	border: 1px solid white;
	height: 200px;
	width: 500px;
	padding-left: 15px;
}
#aliNadaLifecycleShutoff {
	margin-top: 50px;
}
#aliNadaGeneralRobot {
	margin-top: 80px;
}
#aliNadaLifecycleAdd {
	margin-top: 110px;
}
#aliNadaMenuTitle {
	font-size: 20px;
	margin-left: 150px;
	padding: 10px;
}
.aliNadaMechanic {
	color: white;
}