/*the planet on the map*/
#Kanedos {
	color: #ff9a00;
	margin-left: 150px;
	margin-top: 300px;
}
/*hide the planet*/
#kanedosMap {
	display: none;
}
/*planet details*/

#kanedome {
	margin-top: 175px;
	margin-left: 300px;
	color: #ee0000;
}
#camelRental {
	margin-top: 50px;
	margin-left: 300px;
	color: #f6be10;
}
#kanedosJewelry {
	margin-top: 150px;
	margin-left: 100px;
	color: #f031a5;
}
#kanedosGas {
	margin-top: 325px;
	margin-left: 50px;
	color: #60b259;
}
#suckerPunch {
	margin-top: 425px;
	margin-left: 375px;
	color: #63a0d8;
}
#camelSign {
	margin-left: 350px;
	margin-top: 25px;
}
#camelGuy {
	color: #eecb5f;
	margin-left: 150px;
	margin-top: 100px;
}
#ticketStand {
	color: #fff4b3;
	margin-left: 175px;
	margin-top: 15px;
}
#ticketGuy {
	color: #ff7428;
	margin-left: 229px;
	margin-top: 90px;
}
#brawler {
	color: red;
	margin-left: 475px;
	margin-top: 125px;
}
#apprentice {
	color: orange;
	margin-left: 15px;
	margin-top: 125px;
}
#suckerBartender {
	color: #e14b30;
	margin-left: 115px;
	margin-top: 10px;
}
#kanedosJewelryLady {
	color: #f01340;
	margin-left: 350px;
	margin-top: 100px;
}
#kanedosJewelryDisplay {
	color: #ffb9eb;
	margin-left: 50px;
	margin-top: 50px;
}
#kanedosJewelryPieces {
	color: gold;
	margin-left: 60px;
	margin-top: 72px;
}