#Kaprika {
	color: #1c9600;
	margin-left: 325px;
	margin-top: 250px;
}
/*hide the planet*/
#map {
	display: none;
}

/*planet details*/
#theTree {
	color: green;
	margin-left: 50px;
}
#quietGrove {
	color: purple;
	margin-top: 300px;
	margin-left: 275px;
}
#mysteriousShop {
	color: brown;
	margin-left: 50px;
	margin-top: 350px;
}
#groveClose {
	color: #e37bff;
	margin-left: 70px;
	margin-top: 100px;
}
#fairies {
	color: yellow;
	margin-left: 65px;
	margin-top: 100px;
}
#treeGoon1 {
	color: #ce1212;
	margin-left: 275px;
	margin-top: 225px;
}
#treeGoon2 {
	color: #fb9a05;
	margin-left: 175px;
	margin-top: 265px;
}
#treeGoon3 {
	color: #ff5b84;
	margin-left: 375px;
	margin-top: 265px;
}
#treeClose {
	color: #7e3a15;
	margin-left: 25px;
	margin-top: 50px;
}
#hangingSkulls {
	color: #f2e2bc;
	margin-left: 100px;
}
#fortuneTeller {
	color: #b81d9a;
	margin-left: 125px;
	margin-top: 75px;
}
#crystalBall {
	color: #6739ff;
	margin-left: 300px;
	margin-top: 250px;
}