#Kaprika {
	color: #1c9600;
	margin-left: 325px;
	margin-top: 250px;
}
/*hide the planet*/
#kaprikaMap {
	display: none;
}

/*planet details*/
#theTree {
	color: green;
	margin-left: 50px;
}
#quietGrove {
	color: purple;
	margin-top: 300px;
	margin-left: 275px;
}
#mysteriousShop {
	color: brown;
	margin-left: 50px;
	margin-top: 350px;
}
#groveClose {
	color: #e37bff;
	margin-left: 70px;
	margin-top: 100px;
}
#fairies {
	color: yellow;
	margin-left: 65px;
	margin-top: 100px;
}
#treeGoons {
	color: red;
	margin-left: 50px;
	margin-top: 225px;
}
#treeClose {
	color: brown;
	margin-left: 350px;
	margin-top: 50px;
}
#hangingSkulls {
	color: gray;
	padding: 10px;
	margin-left: 235px;
	margin-top: 10px;
}
#fortuneTeller {
	color: purple;
	margin-left: 190px;
	margin-top: 75px;
}
#crystalBall {
	color: indigo;
	margin-left: 200px;
	margin-top: 225px;
}