#bigSub, .test {
	color: green;
	font-size: 40px;
}
#author {
	font-family: 'Orbitron', sans-serif;
}
body {
	background-color: #0e0e0e;
	color: white;
	text-align: center;
	padding: 25px;
}
#oshuBack {
	margin-top: 100px;
	margin-bottom: 100px;
}
#clickPlay {
	cursor: pointer;
}
#welcome {
	display: none;
}
#instructionTitle, #instructionSub, .title {
	font-family: 'Audiowide', cursive;	
}
#instructionTitle {
	font-size: 50px;
}
#instructionSub {
	font-size: 25px;
}
#play {
	font-family: 'Orbitron', sans-serif;
	border: 1px solid white;
	border-radius: 15px;
	display: inline-block;
	font-size: 30px;
	background-color: black;
	padding: 5px 10px;
}
#play.hover {
	background-color: pink;
}
#intro {
	font-family: 'Share Tech Mono';
	color: green;
	font-size: 20px;
	margin: 5%;
	margin-top: 0px;
	text-align: left;
}
#bigTitle, #bigSub {
	display: none;
	font-family: 'Audiowide', cursive;
}
#bigTitle {	
	font-size: 100px;	
};

#one {
	font-family: 'Audiowide', cursive;
}
#two {
	font-family: 'Press Start 2P', cursive;
}
#three {
	font-family: 'Orbitron', sans-serif;
}
#four {
	font-family: 'Share Tech Mono';
}
#skip {
	display: none;
	font-family: 'Audiowide', cursive;
	font-size: 30px;
	text-align: right;
	margin-right: 10px;
	margin-bottom: 0px;
	cursor: pointer;
}
#instructions {
	display: none;
}
#begin {
	text-decoration: none;
	color: black;
	border: 3px solid green;
	padding: 15px;
	background-color: white;
}
#instructionList {
	font-family: "Share Tech Mono";
	border-top: 2px solid green;
	padding: 35px;
}
#planet1 {
	color: #84b8c3;
	margin-left: 350px;
	margin-top: 50px;
}
#planet2 {
	color: #ff491b;
	margin-left: 250px;
	margin-top: 50px;
}
#spaceship {
	color: white;
	margin-left: 85px;
	margin-top: 175px;
}
#flames {
	color: #ffc332;
	margin-left: 85px;
	margin-top: 190px;
}
#stars, #stars2 {
	color: #f2e2ff;
	margin-left: 25px;
	margin-top: 15px;
}
#stars2 {
	color: white;
	display: none;
}
pre {
	margin: 0;
	padding: 0;
	line-height: 1;
	text-align: left;
	position: absolute;
}
#artwork {
	border: 1px solid white;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	background-color: black;
}
i {
	color: white;
	font-size: 35px;
	float: left;
	display: block;
	position: absolute;
	cursor: pointer;
}
#soundsOff {
	display: none;
}
#soundWrapper {
	float: left;
}

/******* MEDIA QUERIES *******/

@media only screen and (min-width: 320px) {
	#intro {
		font-size: 15px;
	}
}
@media only screen and (min-width: 775px) {
	#intro {
		font-size: 17px;
	}
	#instructionList {
		padding: 20px;
	}
}
@media only screen and (min-width: 1000px) {
	#intro {
		font-size: 19px;
	}
}
@media only screen and (min-width: 1250px) {
	#intro {
		font-size: 20px;
	}
}
@media only screen and (min-width: 1500px) {
	#intro {
		font-size: 22px;
	}
}
