body {
	background-color: black;
	color: white;
	text-align: center;
	padding: 50px;
}
#oshuBack {
	margin-top: 100px;
	margin-bottom: 100px;
}
#clickPlay {
	cursor: pointer;
}
#welcome {
	display: none;
}
.title {
	font-family: 'Audiowide', cursive;	
}
#play {
	font-family: 'Orbitron', sans-serif;
}
#author {
	font-family: 'Orbitron', sans-serif;
}
#intro {
	font-family: 'Share Tech Mono';
	color: green;
	font-size: 40px;
	text-align: left;
}
#bigTitle, #bigSub {
	display: none;
}
#bigTitle {
	font-family: 'Audiowide', cursive;	
	font-size: 100px;	
};
#bigSub {
	font-family: 'Orbitron', sans-serif;
	font-size: 75px;
}


#one {
	font-family: 'Audiowide', cursive;
}
#two {
	font-family: 'Press Start 2P', cursive;
}
#three {
	font-family: 'Orbitron', sans-serif;
}
#four {
	font-family: 'Share Tech Mono';
}