/* hide the whole planet */
#lunedaMap {
	display: none;
}
/* the planet on the map */
#Luneda {
	color: #c1e3da;
	margin-left: 40px;
	margin-top: 400px;
}
/* the planet interactions */
.lunedaInteract {
	position: absolute;
	width: 70%;
	border: 1px solid #c1e3da;
	padding: 5px;
	height: 100px;
	margin-top: 390px;
	margin-left: 7%;
	font-family: 'Share Tech Mono';
	color: #c1e3da;
}
.lunedaOptions {
	width: 30%;
	padding: 5px;
	border: 1px solid #c1e3da;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	float: bottom;
}
.options {
	cursor: pointer;
}
/* the planet details */
#electricSeas {
	color: #00dfff;
}
#sand {
	color: #ffe697;
	margin-left: 50px;
}
.lunedaCity {
	display: inline-block;
	position: absolute;
}
#markets {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	border: 1px solid white;
	margin-left: 212px;
	margin-top: 100px;
	text-align: center;
}
#mechanic {
	margin-top: 375px;
	margin-left: 407px;
}
#futureQuest {
	margin-left: 95px;
}
#weather {
	margin-left: 435px;
	margin-top: 30px;
}
#tikiHut {
	margin-left: 450px;
	margin-top: 80px;
	color: #f6b045;
}
#equipment {
	margin-left: 375px;
	margin-top: 200px;
	color: #a45119;
}
#closerSeas {
	color: #00dfff;
	margin-top: 60px;
}
.beachDetails {
	cursor: pointer;
}
#markets {
	text-align: left;
}
#marketCentre {
	margin-top: 110px;
	margin-left: 95px;
}
.theMarkets, .fruitStand {
	display: none;
}
#fruitStand {
	margin-top: 100px;
	margin-left: 50px;
}
#souvenirStand {
	margin-top: 225px;
	margin-left: 225px;
}
#clothesStand {
	margin-top: 100px;
	margin-left: 400px;
}
#fruitMan, #clothesGirl, #souvenirGirl {
	margin-top: 150px;
	margin-left: 2%;
}
#fruitDisplay, #clothesDisplay, #souvenirDisplay {
	margin-top: 50px;
	margin-left: 10%;
}
#electange {
	margin-top: 175px;
	margin-left: 22%;
}
#ganifruit {
	margin-top: 175px;
	margin-left: 47%;
}
#dresses {
	margin-top: 175px;
	margin-left: 23%;
}
#snowglobes {
	margin-top: 75px;
	margin-left: 3%
}
#bobbleheads {
	margin-top: 165px;
	margin-left: 25%
}
#postcards {
	margin-top: 120px;
	margin-left: 65%
}