/* hide the whole planet */
#lunedaMap {
	display: none;
}

/* the planet on the map */
#Luneda {
	color: #c1e3da;
	margin-left: 40px;
	margin-top: 400px;
}
/* the planet interactions */
.lunedaOptions {
	width: 30%;
	padding: 5px;
	border: 1px solid #c1e3da;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	float: bottom;
}
.options {
	cursor: pointer;
}
/* the planet details */
#electricSeas {
	color: #00dfff;
}
#sand {
	color: #ffe697;
	margin-left: 50px;
}
.lunedaCity {
	display: inline-block;
	position: absolute;
}
#lunedaMechanic {
	margin-top: 375px;
	margin-left: 407px;
	color: #2bb442;
}
#danceHall {
	margin-left: 95px;
	color: #ff4386;
}
#weather {
	margin-left: 425px;
	color: #43b8ff;
}
#tikiHut {
	margin-left: 450px;
	margin-top: 80px;
	color: #f6b045;
}
#equipment {
	margin-left: 375px;
	margin-top: 200px;
	color: #a45119;
}
#closerSeas {
	color: #00dfff;
	margin-top: 60px;
}
.beachDetails {
	cursor: pointer;
}
#markets {
	text-align: left;
	color: #b05900;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	border: 1px solid #ff9f28;
	margin-left: 212px;
	margin-top: 100px;
}
#marketCentre {
	margin-top: 110px;
	margin-left: 95px;
	color: #ff9f28;
}
.theMarkets, .fruitStand {
	display: none;
}
#fruitStand {
	margin-top: 100px;
	margin-left: 50px;
}
#souvenirStand {
	margin-top: 225px;
	margin-left: 225px;
}
#clothesStand {
	margin-top: 100px;
	margin-left: 400px;
}
#fruitMan, #clothesGirl, #souvenirGirl {
	margin-top: 150px;
	margin-left: 10px;
}
#fruitDisplay, #clothesDisplay, #souvenirDisplay {
	margin-top: 50px;
	margin-left: 75px;
	color: #c36700;
}
#electange {
	margin-top: 175px;
	margin-left: 145px;
	color: #009fff;
}
#ganifruit {
	margin-top: 175px;
	margin-left: 325px;
	color: #c900ff;
}
#dresses {
	margin-top: 145px;
	margin-left: 147px;
	color: #f22aff;
}
#snowglobes {
	margin-top: 75px;
	margin-left: 15px;
	color: #8edde3;
}
#bobbleheads {
	margin-top: 165px;
	margin-left: 150px;
	color: #ba5500;
}
#postcards {
	margin-top: 120px;
	margin-left: 460px;
	color: #45cc77;
}
#fruitStand, #clothesStand, #souvenirStand {
	color: #c36700;
}
#fruitMan {
	color: #FFE7B9;
}
#clothesGirl {
	color: #d81500;
}
.danceHall, .noDancing, .danceDetails {
	display: none;
}
#doorman {
	color: #ff9e26;
	margin-top: 100px;
	margin-left: 75px;
}
#danceSign {
	margin-left: 300px;
}