/*WHAT'S DISPLAYING NOW*/

body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
p {
	margin: 0;
	cursor: default;
}
#wrapper {
	background-color: gray;
	padding-top: 2%;
	border: 3px solid black;
	padding-bottom: 100px;
}

.console {
	background-color: white;
	padding: 5px;
	width: 90%;
	border: 3px solid black;
	margin-left: auto;
	margin-right: auto;
}
#life {
	background-color: green;
	width: 100%;
	height: 10px;
	margin-top: 0;
	margin-bottom: 0;
	border: 1px solid black;
}
.clock {
	text-align: right;
	margin: 0;
}
#clock {
	float: right;
}
#interaction {
	width: 600px;
	background-color: black;
	height: 525px;
	color: white;
	margin-left: 15px;
	margin-top: 20px;
	float: left;
}
pre {
	margin: 0;
	padding: 0;
	line-height: 1;
	position: absolute;
	cursor: pointer;
}
#clock {
	background-color: yellow;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 5px;
	width: 100px;
	border: 1px solid black;
}
#clock p {
	margin: 0px;
	text-align: center;
}
#clockNumbers, #mapPreview {
	background-color: orange;
	border: 1px solid black;
}

#gameConsole {
	height: 750px;
}
#shipStatus {
	border: 1px solid black;
	background-color: pink;
	padding: 5px;
	display: inline-block;
}
#shipStatus p {
	margin: 0;
}
#shipPicture {
	background-color: black;
	color: white;
	padding: 8px;
	text-align: left;
}
#inventory, #shipStatus {
	display: inline-block;
	width: 30%;
	margin: 0px;
}
#shipStatusDetails {
	display: inline-block;
}
#gameStats {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: gray;
	border: 1px solid black;
}
.shipHealth, .shipFuel {
	height: 20px;
	width: 10px;
	margin-right: 3px;
	display: inline-block;
	border: 1px solid black;
}
.shipHealth {
	background-color: green;
}
.shipFuel {
	background-color: brown;
}
.statusCategory {
	display: inline-block;
	text-align: right;
}
#shipHealth {
	text-align: right;
}
#inventory {
	background-color: white;
	border: 1px solid black;
}
.inventory {
	display: inline-block;
	border: 1px solid black;
	padding: 5px;
}
.inventory {
	float: left;
}
#planetName {
	color: green;
	font-size: 50px;
	float: left;
	margin-left: 15px;
	font-family: 'Orbitron', sans-serif;
}
#map {
	height: 525px;
}
.cityDetails {
	display: none;
}
.return {
	float: left;
	padding: 5px;
	border: 1px solid white;
	margin: 10px;
	background-color: black;
	display: none;
	cursor: pointer;
}
#myShip {
	cursor: pointer;
	border: 1px solid black;
	padding: 7px;
	position: relative;
	display: inline-block;
}
li {
	border: 1px solid black;
	margin-left: 10px;
	padding-left: 5px;
}
#miloInteraction {
	font-family: "Share Tech Mono";
	font-size: 20px;
	position: absolute;
	width: 550px;
	padding-top: 50px;
	padding-left: 25px;
	padding-right: 25px;
}
#miloResponse {
	color: green;
	padding-top: 25px;
	cursor: pointer;
	display: none;
}
#bucketList, #inventory, #shipStats {
	margin-left: 30px;
	float: left;
	margin-top: 20px;
	width: 600px;
	padding: 10px;
}
#bucketList {
	background-color: green;
}
.bucketList, .inventoryItem {
	list-style-type: none;
}
.quest, .inventoryItem {
	background-color: white;
}
.inventoryItem {
	cursor: pointer;
}
h1 {
	color: white;
	font-family: 'Orbitron', sans-serif;
	font-size: 40px;
}
#inventory {
	background-color: blue;
}
#shipStats {
	background-color: pink;
}
#boardShip {
	display: inline-block;
}
#miloInteraction {
	display: none;
}
.planetInteraction {
	position: absolute;
	width: 540px;
	padding: 5px;
	height: 100px;
	margin-top: 390px;
	margin-left: 25px;
	font-family: 'Share Tech Mono';
}
#skip {
	display: none;
	font-family: 'Audiowide', cursive;
	font-size: 30px;
	text-align: right;
	margin-right: 10px;
}
#skipButton {
	cursor: pointer;
}
.placeholder {
	padding: 50px;
	border: 1px solid white;
}