#map {
	display: none;
}

/*WHAT'S DISPLAYING NOW*/

body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 100vh;
	background-color: #4b4b4b;
}
p {
	margin: 0;
	cursor: default;
}
li {
	border: 1px solid black;
	margin-left: 10px;
	padding-left: 5px;
}
h1 {
	color: white;
	font-family: 'Orbitron', sans-serif;
	font-size: 40px;
}
footer {
	padding: 15px;
	text-align: right;
	background-color: #4b4b4b;
	font-family: "Share Tech Mono";
}
pre {
	margin: 0;
	padding: 0;
	line-height: 1;
	position: absolute;
	cursor: pointer;
}
#footerLink {
	color: white;
	outline: 0;
}
.testwrap {
	float: left;
}
#wrapper {
	padding-top: 2%;
	padding-bottom: 2%;
}
.console {
	background-color: #1a1a1a;
	padding: 5px;
	width: 90%;
	border: 3px solid black;
	margin-left: auto;
	margin-right: auto;
}
#life {
	background-color: green;
	width: 100%;
	height: 10px;
	margin-top: 0;
	margin-bottom: 0;
	border: 1px solid black;
	border-bottom: none;
}
#interaction {
	width: 600px;
	background-color: black;
	height: 525px;
	color: white;
	float: right;
	position: relative;
}
#gameOptions {
	width: 600px;
	background-color: gray;
	color: black;
	border: 5px solid black;
	box-sizing: border-box;
	height: 130px;
}
#inventory {
	border: 1px solid black;
	padding: 10px;
	background-color: #2e7bff;
	float: right;
	width: 45%;
}
#bucketList {
	border: 1px solid black;
	background-color: #408b11;
	float: right;
	padding: 10px;
	width: 45%;
}
#gameStats {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: gray;
	border: 1px solid black;
}
#planetName {
	color: green;
	font-size: 50px;
	float: left;
	margin-left: 15px;
	font-family: 'Orbitron', sans-serif;
}
#map {
	height: 525px;
}
.cityDetails {
	display: none;
}
.return {
	float: left;
	padding: 5px;
	border: 1px solid white;
	margin: 10px;
	background-color: black;
	display: none;
	cursor: pointer;
}
#myShip {
	cursor: pointer;
	border-left: 1px solid black;
	padding: 7px;
	position: relative;
	display: inline-block;
	float: right;
}
#miloInteraction {
	font-family: "Share Tech Mono";
	font-size: 20px;
	position: absolute;
	width: 550px;
	padding-top: 50px;
	padding-left: 25px;
	padding-right: 25px;
}
#miloResponse {
	color: green;
	padding-top: 25px;
	cursor: pointer;
	display: none;
}
.bucketList, .inventoryItem {
	list-style-type: none;
}
.quest, .inventoryItem {
	background-color: white;
}
.clickInventory {
	cursor: pointer;
}
#miloInteraction {
	display: none;
}
#planetInteraction {
	border: 1px solid white;
	position: absolute;
	width: 540px;
	padding: 5px;
	height: 110px;
	margin-top: 390px;
	margin-left: 25px;
	font-family: 'Share Tech Mono';
}
#skip, #dots {
	display: none;
	font-family: 'Audiowide', cursive;
	font-size: 30px;
	text-align: right;
	margin-right: 10px;
}
#skipButton, #dotsButton {
	cursor: pointer;
}
.placeholder {
	padding: 50px;
	border: 1px solid white;
}
.clickHere {
	cursor: pointer;
}
#optionOne, #optionTwo, #optionThree {
	display: none;
}
.option {
	cursor: pointer;
}
#oshuInteraction {
	display: none;
	font-family: "Share Tech Mono";
	font-size: 20px;
	color: white;
	padding: 25px;
	padding-top: 0px;
}
#oshuOptions {
	float: left;
	color: white;
	text-align: center;
	font-family: 'Audiowide', cursive;
	padding: 15px;
	margin-top: 15px;
}
#oshuOptionsTitle {
	margin-bottom: 0;
}
#optionButtons {
	text-align: center;
	float: left;
	width: 219px;
	margin-top: 15px;
}
#clock {
	border: 1px solid green;
	text-align: center;
	float: left;
	width: 219px;
	background-color: black;
	color: white;
	margin-top: 15px;
}
#sounds, #pause {
	float: left;
	border: 1px solid white;
	background-color: black;
	color: #e5e5e5;
	width: 100px;
	cursor: pointer;
}
#soundsTitle, #soundsOn, #soundsOff {
	display: inline-block;
	cursor: pointer;
}
#soundsOff {
	display: none;
}
#pause {
	margin-left: 15px;
}
#pausedOverlay {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: white;
	opacity: 0.7;
	z-index: 1;
}
#pausedText {
	font-family: 'Orbitron', sans-serif;
	font-size: 100px;
	text-align: center;
	margin-top: 35vh;
}


/******* MEDIA QUERIES *******/

@media only screen and (min-width: 320px) {
	.testwrap, #inventory, #bucketList {
		margin-left: auto;
		margin-right: auto;
		width: 600px;
		box-sizing: border-box;
		float: none;
	}
}
@media only screen and (min-width: 1100px) {
	#inventory, #bucketList {
		float: right;
		width: 39%;
	}
	#inventory {
		max-height: 370px;
		overflow-y: auto;
	}
	.testwrap {
		float: left;
	}
	.console {
		height: 655px;
	}
}
@media only screen and (min-width: 1150px) {
	#inventory, #bucketList {
		width: 42%;
	}
}
@media only screen and (min-width: 1225px) {
	#inventory, #bucketList {
		width: 45%;
	}
}
@media only screen and (min-width: 1300px) {
	#inventory, #bucketList {
		width: 48%;
	}
}
@media only screen and (min-width: 1350px) {
	#inventory, #bucketList {
		width: 50%;
	}
}
@media only screen and (min-width: 1425px) {
	#inventory, #bucketList {
		width: 52%;
	}
}
@media only screen and (min-width: 1475px) {
	#inventory, #bucketList {
		width: 54%;
	}
}
@media only screen and (min-width: 1550px) {
	#inventory, #bucketList {
		width: 56%;
	}
}
@media only screen and (min-width: 1650px) {
	#inventory, #bucketList {
		width: 59%;
	}
}
@media only screen and (min-width: 1800) {
	#inventory, #bucketList {
		width: 62%;
	}
}