/*the planet on the map*/
#Tyrianne {
	color: #db1600;
	margin-left: 200px;
	margin-top: 150px;
}
/*hide the planet*/
#map {
	display: none;
}

/*planet details*/

#library {
	color: #4e4bb4;
	margin-left: 50px;
	margin-top: 50px;
}
#fuzzbuttFactory {
	color: #cec29c;
	margin-left: 240px;
	margin-top: 275px;
}
#tyrianneMechanic {
	color: #b42b2b;
	margin-left: 50px;
	margin-top: 300px;
}
#poorMan {
	color: tan;
	margin-left: 25px;
	margin-top: 25px;
}
#tyrianneJewelry {
	color: #f4b234;
	margin-left: 325px;
}
#poorManClose {
	color: tan;
	margin-left: 50px;
	margin-top: 100px;
}
#fuzzbuttDoorman {
	color: orange;
	margin-left: 165px;
	margin-top: 75px;
}
#sunstoneStand {
	color: #3a3b63;
	margin-left: 70px;
	margin-top: 50px;
}
#sunstoneSign {
	margin-left: 150px;
	margin-top: 265px;
}
#sunstoneDisplay {
	color: #ffe237;
	margin-left: 315px;
	margin-top: 150px;
}
#tyrianneMenu {
	margin-left: 125px;
	margin-top: 100px;
}
#tyrianneJewelryLady {
	color: #f46a2e;
	margin-left: 250px;
	margin-top: 125px;
}
#tyrianneJewelryDisplay {
	color: #782020;
	margin-left: 185px;
	margin-top: 15px;
}
#tyrianneJewelryPieces {
	color: silver;
	margin-left: 195px;
	margin-top: 37px;
}
#libraryDoors {
	color: #7be8ff;
	margin-left: 200px;
	margin-top: 75px;
}
#libraryGuard {
	color: #7b84ff;
	margin-left: 425px;
	margin-top: 287px;
}
#tyrianneMechanicMenu {
	margin-left: 50px;
	margin-top: 100px;
	border: 1px solid white;
	height: 200px;
	width: 500px;
	padding-left: 15px;
}
#tyrianneLifecycleShutoff {
	margin-top: 50px;
}
#tyrianneGeneralRobot {
	margin-top: 80px;
}
#tyrianneLifecycleAdd {
	margin-top: 110px;
}
#tyrianneMenuTitle {
	font-size: 20px;
	margin-left: 150px;
	padding: 10px;
}