/*the planet on the map*/
#Tyrianne {
	color: #db1600;
	margin-left: 200px;
	margin-top: 150px;
}
/*hide the planet*/
/*#tyrianneMap {
	display: none;
}*/
/*planet details*/

#map {
	display: none;
}
#library {
	color: #4e4bb4;
	margin-left: 50px;
	margin-top: 50px;
}
#fuzzbuttFactory {
	color: #cec29c;
	margin-left: 240px;
	margin-top: 275px;
}
#tyrianneMechanic {
	color: #b42b2b;
	margin-left: 50px;
	margin-top: 300px;
}
#poorMan {
	color: tan;
	margin-left: 25px;
	margin-top: 25px;
}
#tyrianneJewelry {
	color: #f4b234;
	margin-left: 325px;
}