body {
	background-color: black;
	color: white;
	text-align: center;
	padding: 50px;
}
#oshuBack {
	margin-top: 100px;
	margin-bottom: 100px;
}
#clickPlay {
	cursor: pointer;
}
#welcome {
	display: none;
}
#one {
	font-family: 'Orbitron', sans-serif;
}
#two {
	font-family: 'Audiowide', cursive;
}
#three {
	font-family: 'Press Start 2P', cursive;
}