#wrapper {
	background-color: gray;
	padding-top: 2%;
	border: 3px solid black;
	text-align: center;
	padding-bottom: 100px;
}

.console {
	background-color: white;
	padding: 5px;
	width: 90%;
	border: 3px solid black;
	margin-left: auto;
	margin-right: auto;
}

#life {
	background-color: green;
	width: 100%;
	height: 10px;
	margin-top: 0;
	margin-bottom: 0;
	border: 1px solid black;
}
.clock {
	text-align: right;
	margin: 0;
}
pre {
	margin: 0;
	padding: 0;
	line-height: 1;
}
#map {
	text-align: left;
	overflow: none;
}
#clock, #map {
	background-color: yellow;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 5px;
	width: 100px;
	border: 1px solid black;
	float: right;
}
#clock p, #map p {
	margin: 0px;
	text-align: center;
}
#clockNumbers, #mapPreview {
	background-color: orange;
	border: 1px solid black;
}
#map {
	float: left;
	width: 200px;
	height: 150px;
	cursor: pointer;
}
#mapPreview {
	height: 120px;
}
#gameConsole {
	height: 750px;
}
#mapEnlarged {
	position: absolute;
	border: 3px solid black;
	background-color: pink;
	height: 650px;
	width: 80%;
	margin: 5%;
	text-align: center;
}
#mapEnlargedMap, #mapEnlargedList {
	border: 1px solid black;
	margin: 20px;
	height: 100px;
}
#mapEnlargedMap {
	height: 610px;
	background-color: black;
	color: white;
}
#mapEnlargedList {
	width: 30%;
	float: right;
	background-color: yellow;
	color: black;
	margin-top: -300px;
	height: 278px;
}