#wrapper {
	background-color: gray;
	padding-top: 2%;
	border: 3px solid black;
	padding-bottom: 100px;
}

.console {
	background-color: white;
	padding: 5px;
	width: 90%;
	border: 3px solid black;
	margin-left: auto;
	margin-right: auto;
}
#life {
	background-color: green;
	width: 100%;
	height: 10px;
	margin-top: 0;
	margin-bottom: 0;
	border: 1px solid black;
}
.clock {
	text-align: right;
	margin: 0;
}
#clock {
	float: right;
}
#interaction {
	width: 95%;
	background-color: black;
	height: 500px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
pre {
	margin: 0;
	padding: 0;
	line-height: 1;
}
#map {
	text-align: left;
	overflow: none;
}
#clock, #map {
	background-color: yellow;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 5px;
	width: 100px;
	border: 1px solid black;
}
#clock p, #map p {
	margin: 0px;
	text-align: center;
}
#clockNumbers, #mapPreview {
	background-color: orange;
	border: 1px solid black;
}
#map {
	display: inline-block;
	width: 200px;
	height: 150px;
	cursor: pointer;
}
#mapPreview {
	height: 120px;
}
#gameConsole {
	height: 750px;
}
#mapEnlarged {
	position: absolute;
	border: 3px solid black;
	background-color: pink;
	height: 590px;
	width: 80%;
	margin: 5%;
	text-align: center;
	display: none;
}
#mapEnlargedMap, #mapEnlargedList {
	border: 1px solid black;
	margin: 20px;
	height: 100px;
}
#mapEnlargedMap {
	height: 550px;
	background-color: black;
	color: white;
	text-align: left;
}
#mapEnlargedList {
	width: 30%;
	float: right;
	background-color: yellow;
	color: black;
	margin-top: -300px;
	height: 278px;
}
#close {
	float: right;
	margin-right: 6px;
	cursor: pointer;
}
.planet {
	cursor: pointer;
	position: absolute;
}
#Luneda {
	color: #c1e3da;
	margin-left: 10%;
}
#Kanedos {
	color: #ff9a00;
	margin-left: 20%;
}
#Tyrianne {
	color: #db1600;
	margin-left: 30%;
}
#Kaprika {
	color: #1c9600;
	margin-left: 40%;
}
#AliNada {
	color: #969696;
	margin-left: 50%;
}
#Carpic {
	color: #5650ff;	
	margin-left: 70%;
}
#shipStatus {
	border: 1px solid black;
	background-color: pink;
	padding: 5px;
	display: inline-block;
}
#shipStatus p {
	margin: 0;
}
#shipPicture {
	background-color: black;
	color: white;
	padding: 8px;
	text-align: left;
}
#shipPicture, #shipStatusDetails {
	display: inline-block;
}
#gameStats {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: gray;
	border: 1px solid black;
}
.shipHealth, .shipFuel {
	height: 20px;
	width: 10px;
	margin-right: 3px;
	display: inline-block;
	border: 1px solid black;
}
.shipHealth {
	background-color: green;
}
.shipFuel {
	background-color: brown;
}
.statusCategory {
	display: inline-block;
	text-align: right;
}
#shipHealth {
	text-align: right;
}